body {
		background: #000;
		height:100%;
		color:white;
		font-family:Arial,Helvetica,sans-serif;
		font-size:12px;
}
	
table {
    padding:2px;
	padding-left:6px;
	padding-right:6px;
	margin:0px;
    border-collapse:collapse
}

.no_margin {
    margin: 0px;

}
	
tr.pool_name td{
    border-bottom: 2px solid white;
    font-size: 16px;
    font-weight:bold;
    text-align: right;
}
tr.pool_name td.name{
    border: 2px solid white;
    font-size: 18px;
    font-weight:bold;
    text-align: left;
}

tr.worker tr{
    font-size: 16px;
    font-weight:bold;
    text-align: right;
}

tr.pool_counts td{
    font-size: 16px;
    font-weight:bold;
    text-align: right;
}

div.title {
    border-bottom: 2px solid white;
    font-size: 20px;
    font-weight:bold;
}

.align_right {
    text-align: right;
}
