{% extends "base.html" %}

{%block title %} Pools {% endblock %}

{%block body%}
<div class=title>
    Pools
</div>
<br>
<table>
{% for pool in pools %}
<tr class=pool_name>
<td class=name> {{pool}}</td><td>Getworks</td><td>Accepted</td><td>Rejected</td>
</tr>

    {% for name in pools[pool]%}
    <tr class=pool_counts>
        <td class=align_right>{{name}}</td>
        <td>{{pools[pool][name][0]}}</td>
        <td>{{pools[pool][name][1]}}</td>
        <td>{{pools[pool][name][2]}}</td>
    </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
