<html>
	<head>
		<style type="text/css">
			* {
				font-family:monospace;
			}
			html,body {
				background: #272F87;
				height:100%;
				color:white;
				font-family:Arial,Helvetica,sans-serif;
				font-size:12px;
			}

			body {
				margin:0;
				padding:10px;
			}

			a {
				text-decoration:none;
			}

			td, th {
				padding:2px;
				padding-left:6px;
				padding-right:6px;
				margin:0px;
				border-bottom:2px solid #00008B;
				height:40px;
			}

			th.head {
				border-bottom:2px solid white;
			}
			#headercontainer { position: fixed; top: 0; left: 0; right: 0; height: 105px; margin: 0; padding: 0; background-color: #272F87; }

			#round_duration {
				color: White;
			}

			#round_duration_estimate {
				color: #A9A9A9;
			}

		</style>
		<title>bitHopper info</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="http://omnipotent.net/jquery.sparkline/1.6/jquery.sparkline.min.js"></script>
		<script type="text/javascript">

			function getName(payload, srv) {
				if(payload['current'].indexOf(srv['name']) != -1) {
					return "<a href='" + srv['url']  + "' target='_blank' style='font-weight:bold;font-size:16px;text-decoration:underline;color:" + getColor(payload,srv) + ";'>" + srv['name'] + "</href>";
				}
				else return "<a href='" + srv['url']  + "' target='_blank' style='font-size:12px;text-decoration:underline;color:" + getColor(payload,srv) + ";'>" + srv['name'] + "</href>";
			}

			function getColor(payload, srv) {
				if(payload['current'].indexOf(srv['name']) != -1) {
					return 'yellow';
				}

				if(srv['lag'] == true) {
					return 'red';
				}

				return 'white';
			}
			function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
			}

			function getShares(payload, srv) {
				shares = srv['shares'];

				diff = payload["diffs"][srv["role"].substring(5,8)];
				if (diff == undefined) { diff = payload["diffs"]["btc"]; }

				return numberWithCommas(shares)
					+ "<br>"
					+ fixLength((shares / diff * 100).toFixed(2), 6)
					+ "%";
			}

			function setRole(srvName, role) {

				var frm = "<form><input type=hidden name='role-" + srvName + "' value='" + role + "'></form>";
				$.post("/stats", $(frm).serialize());

				update();
			}

			function selectRole(srvName, role) {
				var nrole = prompt(srvName + " new role: ", role);
				if(nrole != null && nrole != undefined && nrole != "") {
					setRole(srvName, nrole);
				}
			}

			function getRole(payload, srv) {
				var roles = "";

				var defaultRole = "mine";
				for(var v in payload["servers"]) {
					if(payload["servers"][v]['name'] == srv['name']) {
						srvName = v;
					}
				}

				roles += "<a href='#' onClick=\"setRole('" + srvName + "', 'disable');\" onFocus='this.blur();' style='border:1px solid black;";
				if(srv["role"] == "disable") roles += "background-color:black;";
				roles += "width:20px;height:15px;'>&nbsp;&nbsp;</a>&nbsp;";

				roles += "<a href='#' onClick=\"setRole('" + srvName + "', 'info');\" onFocus='this.blur();' style='border:1px solid yellow;";
				if(srv["role"] == "info") roles += "background-color:yellow;";
				roles += "width:20px;height:15px;'>&nbsp;&nbsp;</a>&nbsp;";

				roles += "<a href='#' onClick=\"setRole('" + srvName + "', '" + srv['default_role'] + "');\" onFocus='this.blur();' style='border:1px solid green;";
				if(srv["role"][0] == "m" || srv["role"].substring(0,6) == "backup") roles += "background-color:green;";
				roles += "width:20px;height:15px;'>&nbsp;&nbsp;</a>&nbsp;";

				var role = "<a href='#' onClick=\"selectRole('" + srvName + "', '" + srv["role"] + "')\" onFocus='this.blur();' style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>" + srv["role"] + "</a>";

				return roles + role;
			}

			function getUserShareRejects(payload, srv) {
				var pp = 0;
				if(srv["rejects"] > 0) {
					pp = parseFloat(srv["rejects"]) / parseFloat(srv["user_shares"]) * 100;
				}
				return srv["user_shares"]
					+ "&nbsp;/&nbsp;"
					+ srv["rejects"]
					+ "<br>"
					+ fixLength(pp.toFixed(2), 5) + "%";
			}

			function getUserTime(payload, user, key){
				if(user['last'] == 0){
					return 'Not Seen This Session';
				}
				var newDate = new Date(user['last']*1000);
				if (newDate != null) {
					dateString = newDate.toLocaleString();
				}
				return dateString;
			}

			function getUserRejects(payload, user, key){
				return user['rejects']
			}

			function getUserShares(payload, user, key) {
				return user["shares"];
			}

			function getUserName(payload, user, key) {
				return key;
			}

			function getUserHashrate(payload, user, key) {
				return user["hash_rate"];
			}

			function getUserShareAverage(payload, user, key) {
				var x = (((user["shares"] / userSharesTotal)*100).toFixed(2)) + '%';

				if(x.toLowerCase().indexOf('nan') > -1 || x.toLowerCase().indexOf('infinity') > -1)
				{
					x = '';
				}

				return x;
			}

			function getUserRejectAverage(payload, user, key) {
				var x =  (((user["rejects"] / userRejectsTotal)*100).toFixed(2)) + '%';

				if(x.toLowerCase().indexOf('nan') > -1 || x.toLowerCase().indexOf('infinity') > -1)
				{
					x = '';
				}
				return x;
			}

			function setPayout(srvName) {
				var payout = prompt("set payout for: " + srvName, 0);
				if(payout != null && payout != undefined && payout != "") {
					var frm = "<form><input type=hidden name='payout-" + srvName + "' value='" + payout + "'></form>";
					$.post("/stats", $(frm).serialize());

					update();
				}
			}

			function setExpPayout(srvName) {
				var payout = prompt("set expected payout for: " + srvName, 0);
				if(payout != null && payout != undefined && payout != "") {
					var frm = "<form><input type=hidden name='expout-" + srvName + "' value='" + payout + "'></form>";
					$.post("/stats", $(frm).serialize());

					update();
				}
			}

			function setWait(srvName, value) {
				var wait = prompt("Set wait for: " + srvName, value);
				if(wait != null && wait != undefined && wait != "") {
					var frm = "<form><input type=hidden name='wait-" + srvName + "' value='" + wait + "'></form>";
					$.post("/stats", $(frm).serialize());
					update();
				}
			}

			function setPenalty(srvName, value) {
				var penalty = prompt("Set penalty for: " + srvName, value);
				if(penalty != null && penalty != undefined && penalty != "") {
					var frm = "<form><input type=hidden name='penalty-" + srvName + "' value='" + penalty + "'></form>";
					$.post("/stats", $(frm).serialize());
					update();
				}
			}

			function setLPPenalty(srvName, value) {
				var penalty = prompt("Set LP penalty for: " + srvName, value);
				if(penalty != null && penalty != undefined && penalty != "") {
					var frm = "<form><input type=hidden name='setLPPenalty-" + srvName + "' value='" + penalty + "'></form>";
					$.post("/stats", $(frm).serialize());
					update();
				}
			}

			function resetScheduler() {
				var frm = "<form><input type=hidden name='resetscheduler' value='reset'></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}

			function resetShares() {
				var frm = "<form><input type=hidden name='resetshares' value='reset'></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}

			function reloadConfig() {
				var frm = "<form><input type=hidden name='reloadconfig' value=''></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}

			function enableDebug() {
				var frm = "<form><input type=hidden name='enableDebug' value=''></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}

			function disableDebug() {
				var frm = "<form><input type=hidden name='disableDebug' value=''></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}

			function resetUserShares() {
				var frm = "<form><input type=hidden name='resetUserShares' value='reset'></form>";
				$.post("/stats", $(frm).serialize());
				update();
			}


			function getPayout(payload, srv) {
				var srvName = "";
				for(var v in payload["servers"]) {
					if(payload["servers"][v]['name'] == srv['name']) {
						srvName = v;
					}
				}

				payout = "<a href='#' onFocus='this.blur();' onClick=\"setPayout('" + srvName + "');\" style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>" + srv["payout"].toFixed(8) + "</a>";

				return payout + "<br />Exp:&nbsp;" + "<a href='#' onFocus='this.blur();' onClick=\"setExpPayout('" + srvName + "');\" style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>" + srv['expected_payout'].toFixed(8) + "</a>";
			}

			function getEfficiency(payload, srv) {
				var payout = srv["payout"];
				var expected = srv["expected_payout"];
				var efficiency = parseFloat(payout/expected * 100).toFixed(1);
				if (isNaN(efficiency)) {
					return "-";
				}
				return efficiency + "%";
			}

			function getRoundShares(payload, srv) {
				if(srv["role"] == "disable")
					return [];

				return srvhist[srv['name']];
			}

			function getSlice(payload, srv) {
				var name = srv['pool_index'];
				if (payload['sliceinfo'] == undefined && srv['slice'] == undefined)
					 return "-"
				if (payload['sliceinfo'] != undefined && payload['sliceinfo'][name] >= 0)
					return parseFloat(payload['sliceinfo'][name]).toFixed(0)
				else if (srv['slice'] >= 0)
					return parseFloat(srv['slice']).toFixed(0)
				else
					return "-"
			}

			function getWait(payload, srv) {
				if (payload['wait'] == undefined && srv['wait'] == undefined)
					 return "-"
				var wait = 0.0
				if (srv['wait'] && srv['wait'] > 0) {
					 wait = parseFloat(srv['wait']);
				}
				var wait_html = "<a href='#' onFocus='this.blur();' onClick=\"setWait('"
				wait_html = wait_html + srvName + "', " + wait + ");\" style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>"
				wait_html = wait_html + wait.toFixed(2) + "</a>";
				return wait_html;
			}

			function getPenalty(payload, srv) {
				var penalty = 1.00
				if (srv['penalty'] && srv['penalty'] > 0) {
					 penalty = parseFloat(srv['penalty']);
				}
				var penalty_html = "<a href='#' onFocus='this.blur();' onClick=\"setPenalty('"
				penalty_html = penalty_html + srvName + "', " + penalty + ");\" style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>"
				penalty_html = penalty_html + penalty.toFixed(2) + "</a>";
				return penalty_html;
			}

			function getLPPenalty(payload, srv) {
				var penalty = 0.00
				if (srv['lp_penalty']) {
					 penalty = parseFloat(srv['lp_penalty']);
				}
				var penalty_html = "<a href='#' onFocus='this.blur();' onClick=\"setLPPenalty('"
				penalty_html = penalty_html + srvName + "', " + penalty + ");\" style='text-decoration:underline;color:" + getColor(payload,srv) + ";'>"
				penalty_html = penalty_html + penalty.toFixed(2) + "</a>";
				return penalty_html;
			}

			function getPoolSpeed(payload, srv) {
				if (srv['ghash'] > 0) {
					if (srv["isSpeedEstimated"] == true) {
						ghashColor = "<span class='round_duration_estimate'>*"
					} else {
						ghashColor = "<span class='round_duration'>"
					}
					return ghashColor + parseFloat(srv['ghash']).toFixed(0) + "</span>"
				} else {
					return '&nbsp;';
				}
			}

			function getRoundDuration(payload, srv) {
				var h = '&nbsp;';
				if (srv['duration'] > 0) {
					var totalSec = parseInt(srv["duration"]);
					var days =	Math.floor(  totalSec / 86400 );
					var hours =   Math.floor( (totalSec - (days*86400)) / 3600 );
					var minutes = Math.floor( (totalSec - (days*86400) - (hours * 3600))/60);
					var estimationColor = "<span class='round_duration'>"
					if (srv["isDurationEstimated"] == true ) {
						estimationColor = "<span class='round_duration_estimate'>*"
					}
					if (days>0) {
						h = "<font=-2>" + estimationColor + days + "d:" + hours +"h:" + minutes + "m</span></font>";
					} else {
						h = estimationColor + hours +"h:" + minutes + "m</span>";
					}
				}
				return h;
			}

			//Returns the string representation of the role of the pool
			function getRoleString(payload, srv) {
				return (srv["role"]);
			}

			var srvhist = {};
			var userSharesTotal = 0;
			var userRejectsTotal = 0;

			// Required because userShareTotal won't appear when user hasn't been seen this session
			var serverUserSharesTotal = 0;
			var serverUserRejectsTotal = 0;

			var serverPayoutTotal = 0;
			var serverExpPayoutTotal = 0;

			function updateData(data) {
				userSharesTotal = 0;
				userRejectsTotal = 0;
				serverUserSharesTotal = 0;
				serverUserRejectsTotal = 0;
				serverPayoutTotal = 0;
				serverExpPayoutTotal = 0;

				for(v in data["servers"]) {

					var serverRoundShares = data["servers"][v]["shares"];

					serverUserSharesTotal += data["servers"][v]["user_shares"];
					serverUserRejectsTotal += data["servers"][v]["rejects"];
					serverPayoutTotal += data["servers"][v]["payout"];
					serverExpPayoutTotal += data["servers"][v]["expected_payout"];

					if(srvhist[data["servers"][v]['name']] == undefined) {
						srvhist[data["servers"][v]['name']] = [ serverRoundShares ];
					} else {
						srvhist[data["servers"][v]['name']].push(serverRoundShares);
					}

				}

				for(v in data["user"])
				{
					userSharesTotal += data["user"][v]["shares"];
					userRejectsTotal += data["user"][v]["rejects"];
				}
			}

			function buildTable(id, items, payload, columns, fnSort, tableCss) {
				var showDisabledPools = document.getElementById('show_role_disabled').checked ;
				var showInfoPools = document.getElementById('show_role_info').checked ;
				var html = "";
				var tCss = "";
				if(tableCss != undefined) {
					tCss = "style='" + tableCss + "'";
				}
				html += "<table border=0 padding=0 cellpadding=0 cellspacing=0 " + tCss + ">";
				html += "	<tr>";

				for(col in columns) {
					var column = columns[col];
					var tdAttr = "";
					var cssAttr = "";

					if(column['width'] != undefined) {
						cssAttr += "width:" + column['width'] + "; ";
					}

					if(column['align'] != undefined)
						tdAttr += " align='" + column['align'] + "'";

					if(column['display'] != undefined ){
						cssAttr += "display:" + column['display'] + "; ";
					}

					html += "	<th class='head' " + tdAttr + " style='" + cssAttr + "'><b>" + col.replace(/\s/g, "&nbsp;") + "</b></th>";
				}

				html += "	</tr>";

				var rows = [];
				for(row in items) {
					rows.push(row);
				}
				if(fnSort != undefined) {
					row = rows.sort(fnSort);
				}
				var chartBuildUps = [];

				for(var i=0;i<rows.length;i++) {
					var r = rows[i];
					var row = items[r];

					if (id == "#table") {
						row_role = columns['Role String']['data'](payload, row, r);
						if( !showDisabledPools && row_role == "disable" ){
							continue; //Skip disabled pools
						}
						if( !showInfoPools && row_role == "info" ){
							continue; //Skip info pools
						}
					}

					html += "<tr id=\"row_" + i + "\">";

					for(col in columns) {
						var column = columns[col];
						var tdAttr = "";
						var cssAttr = "";

						if(column['align'] != undefined) {
							tdAttr += " align='" + column['align'] + "'";
						}

						if(column['width'] != undefined) {
							cssAttr += "width:" + column['width'] + ";";
						}

						if(column['color'] != undefined) {
							var color = column['color'](payload, row);
							if(color != undefined) {
								cssAttr += "color:" + color + ";";
							}
						}

						var content = "";
						var data = column['data'](payload, row, r);

						if(column['type'] == undefined) {
							content = data;
						}
						else if(column['type'] == 'linechart') {
							content = "<span id='chart" + chartBuildUps.length + "' style='width:100%;'></span>";
							chartBuildUps.push( { 'data':data } );
							cssAttr += "padding-top:0px;padding-bottom:0px;";
							tdAttr += " width='100%'";
						}

						if(column['display'] != undefined ){
							cssAttr += "display:" + column['display'] + "; ";
						}

						html += "<td " + tdAttr + " style='" + cssAttr + "'>" + content + "</td>";
					}

					html += "</tr>";
				}

				if (id == "#table") {
					var rejectsPercent = 0;
					if(serverUserRejectsTotal > 0) {
						rejectsPercent = parseFloat(serverUserRejectsTotal) / parseFloat(serverUserSharesTotal) * 100;
					}
					var efficiency = parseFloat((serverPayoutTotal / serverExpPayoutTotal) * 100).toFixed(1);
					html += "<tr><td colspan='3' align='left'>Total</td>";
					html += "<td style='color:white;' align='center'>" + serverUserSharesTotal + "&nbsp;/&nbsp;" + serverUserRejectsTotal + "<br>&nbsp;" + fixLength(rejectsPercent.toFixed(2), 5) + "%</td>";
					html += "<td colspan='2' align='center'>&nbsp;</td>";
					html += "<td style='color:white;' align='right'>" + serverPayoutTotal.toFixed(8) + "<br />Exp: " + serverExpPayoutTotal.toFixed(8) + "</td>";
					html += "<td style='color:white;' align='left'>" + efficiency + "%</td>";
					html += "<td colspan='6' style='color:white;' align='right'>&nbsp;</td>";
					html += "</tr>";
				}

				html += "</table>";
				$(id).html(html);

				for(var i=0; i < chartBuildUps.length; i++) {
					$("#chart" + i).sparkline(chartBuildUps[i]['data'], { type:'line', 'lineColor':'white', 'fillColor':false,'composite':true, 'spotColor':false, 'lineWidth':2 ,'spotRadius':0, 'width':'100%', 'height':'100%'} );
				}
			}

			function fixLength(t, l) {
				while(t.length < l) {
					t = "&nbsp;" + t;
				}
				return t;
			}

			function update() {
				$.getJSON('/data', function(data) {
					document.title = data["current"] + ' @ '+ parseInt(data["mhash"]) + " MHash - bitHopper";
					$("#current").html("<span style='font-weight:bold;color:yellow;'>" + data["current"] + "</span> @" + parseInt(data["mhash"]) + "MHash");

					updateData(data);

					buildTable("#table", data['servers'], data,
						{
							'Server': { 'data':getName, 'color':getColor },
							'Shares': { 'data':getShares, 'color':getColor, 'align':'right' },
							'Role': { 'data':getRole },
							'User&nbsp;Shares<br>Rejects': { 'data':getUserShareRejects, 'color':getColor, 'align':'center' },
							'GH/s': { 'data':getPoolSpeed, 'align':'right' },
							'Round<br>Time': { 'data':getRoundDuration, 'align':'center'},
							'Payout': { 'data':getPayout, 'color':getColor, 'align':'right' },
							'Eff.': { 'data':getEfficiency, 'color':getColor, 'align':'center' },
							'ThrPnlty': { 'data':getPenalty, 'color':getColor, 'align':'center' },
							'LP-Pnlty': { 'data':getLPPenalty, 'color':getColor, 'align':'center' },
							'Wait': { 'data':getWait, 'color':getColor, 'align':'center' },
							'Slice': { 'data':getSlice, 'color':getColor, 'align':'center', 'display':'' },
							'Round Shares': { 'data':getRoundShares, 'type':'linechart', 'width':'100%' },
							'Role String': { 'data':getRoleString, 'display':'none' }
						},
						function(a, b) {
							a_role = data["servers"][a]["role"].toString().trim();
							b_role = data["servers"][b]["role"].toString().trim();
							comparison = a_role.localeCompare(b_role);
							if (comparison != 0) {
								return comparison < 0;
							}
							a_name = data["servers"][a]["name"].toString().trim();
							b_name = data["servers"][b]["name"].toString().trim();

							return a_name.localeCompare(b_name) > 0;
						}, "width:100%"
					);

					users = data["user"];

					buildTable("#users", users, users,
						{
							"User": { 'data':getUserName } ,
							"Last Seen": { 'data':getUserTime, 'align':'left' },
							"Shares": { 'data':getUserShares, 'align':'center' },
							"Rejects": { 'data':getUserRejects, 'align':'center' },
							"Hashrate": { 'data':getUserHashrate, 'align':'center' },
							"Average": { 'data':getUserShareAverage, 'align':'center' },
							"Reject Avg": { 'data':getUserRejectAverage, 'align':'center' }
						},
						function(c,d){
							return c > d;
						},""
					);

				});
			}

			$(document).ready(function() {
				setInterval("update()", 5000);
				update();
			});
		</script>
	</head>
	<body>
	<div id="headercontainer">
		<h1 id="current"></h1>
		<span style="padding:5px;">
			<span style="background-color:black;width:20px;height:20px;">&nbsp;&nbsp;</span> Disabled
			<span style="background-color:yellow;width:20px;height:20px;">&nbsp;&nbsp;</span> Info
			<span style="background-color:green;width:20px;height:20px;">&nbsp;&nbsp;</span> Mine
			<form>
				<input type="checkbox" id="show_role_disabled" name="show_role" value="disabled" onclick="javascript:update()" />Show Disabled Pools
				<input type="checkbox" id="show_role_info" name="show_role" value="info" checked="true" onclick="javascript:update()" />Show Info Pools
			</form>
		</span>
	</div>
	<div id="admin">
		<br /><br /><br/><br/><br/><br/>
		<table>
			<tr>
				<td><b>Admin Tools:</b></td>
				<td><input class="admin" type="button" name="resetsc" value="Reset Scheduler" onclick="resetScheduler(); return false;"/></td>
				<td><input class="admin" type="button" name="resetsh" value="Reset Shares" onclick="resetShares(); return false;" title="Sets Pool Shares to Difficulty"/></td>
				<td><input class="admin" type="button" name="resetUserShares" value="Reset User Shares & Est Payouts" onclick="resetUserShares(); return false;" title="Resets user shares/rejects, estimated payouts to 0"/></td>
				<td><input class="admin" type="button" name="reloadconfig" value="Reload Config" onclick="reloadConfig(); return false;"/></td>
				<td><input class="admin" type="button" name="enableDebug" value="Enable Debug" onclick="enableDebug(); return false;"/></td>
				<td><input class="admin" type="button" name="disableDebug" value="Disable Debug" onclick="disableDebug(); return false;"/></td>
			</tr>
		</table>
	</div>
		<div id="table"></div>
		<div id="users"></div>
		<br /><br />
	</body>
</html>
